@page "/counter"
@rendermode InteractiveServer

<div style="height: 75px; border-bottom: 2px solid black; display: flex; justify-content: center; align-items: center; background-color: #f8f9fa;">
    <a href="" style="text-decoration: none; color: black; font-size: 1.5em; padding: 10px; margin-right: 20px;">Home</a>
    <a href="counter" style="text-decoration: none; color: black; font-size: 1.5em; padding: 10px; margin-right: 20px;">Counter</a>
    <a href="calculator" style="text-decoration: none; color: black; font-size: 1.5em; padding: 10px; margin-right: 20px;">Calculator</a>
    <a href="LocalStorage" style="text-decoration: none; color: black; font-size: 1.5em; padding: 10px; margin-right: 20px;">Local Storage</a>
</div>

<h1>Counter</h1>

<p role="status"> @currentCount1</p>

<button class="btn btn-primary" @onclick="IncrementCount1">Add 2</button>

<p role="status"> @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Add 1</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        if(currentCount > 10){
            currentCount = 0;
        }
    }

    private int currentCount1 = 0;

    private void IncrementCount1()
    {
        currentCount1 = currentCount1 + 2;
        if(currentCount1 > 10){
            currentCount1 = 0;
        }
    }
 
}
