@page "/"

<PageTitle>Home</PageTitle>
<div style="height: 75px; border-bottom: 2px solid black; display: flex; justify-content: center; align-items: center; background-color: #f8f9fa;">
    <a href="" style="text-decoration: none; color: black; font-size: 1.5em; padding: 10px; margin-right: 20px;">Home</a>
    <a href="counter" style="text-decoration: none; color: black; font-size: 1.5em; padding: 10px; margin-right: 20px;">Counter</a>
    <a href="calculator" style="text-decoration: none; color: black; font-size: 1.5em; padding: 10px; margin-right: 20px;">Calculator</a>
    <a href="LocalStorage" style="text-decoration: none; color: black; font-size: 1.5em; padding: 10px; margin-right: 20px;">Local Storage</a>
</div>
